body, html {
    position: relative;
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
  }
#contenedor-cargando{
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
}

#contenedor-cargando .spinner-border{
    border: 16px solid #8b8b8b; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    text-align: center;
    top: 40%;
    margin: auto auto;
    position: relative;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}